* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-f1
}

.body {
    height: 100vh;

    &--light {
        // background: $color-light-grey;
        background: map-get($light-mode, 'color-light-grey');

        .shadow-wrapper {
            box-shadow: map-get($light-mode, 'shadow');
        }
    }

    &--dark {
        // background: $color-dark-purple;
        background: map-get($dark-mode, 'color-dark-purple');

        .shadow-wrapper {
            box-shadow: map-get($dark-mode, 'shadow');
        }
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    svg {
        cursor: pointer;
    }

    button {
        background: none;
        border: none;
    }
}