* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-f1
}

.body {
    height: 100vh;

    &--light {
        background: $color-light-grey;
    }

    &--dark {
        background: $color-dark-purple;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .shadow-wrapper {
        box-shadow: $shadow;
    }

    svg {
        cursor: pointer;
    }

    button {
        background: none;
        border: none;
    }
}