// Font Vars
$font-f1: 'Josefin Sans', sans-serif;

// Color Vars
$bg-gradient: linear-gradient(225deg, #5596FF 0%, #AC2DEB 100%);
$todo-gradient: linear-gradient(225deg, #55DDFF 0%, #C058F3 100%);
$color-white: #fff;
$color-light-grey: #F5F5F5;
$color-grey: #9495A5;
$color-grey-2: #979797;
$color-black: #000;
$color-purple: #494C6B;
$color-blue: #3A7CFD;
$color-light-purple: #E3E4F1;
$color-light-purpe-2: #D1D2DA;

// Container Vars
$shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
$shadow-2: 0px 30px 20px 5px rgba(194, 195, 214, 0.5);


// Animation Vars 
$animation-timing: all 0.3s ease-in-out;