.container {
    width: 100%;
    max-width: 551px;
    position: absolute;
    transform: translate(50%, 71px);
    right: 50%;
    z-index: 1;
    padding: 0px 15px;

    &__title {
        color: #fff;
        text-align: left;
        position: relative;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 15px;
        text-transform: uppercase;
    }
}