.menu {
    display: flex;
    justify-content: space-between;
    padding: 17px 25px;
    color: $color-grey;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.194px;
    background: $color-white;

    &__filter {
        display: flex;
        min-width: 130px;
        text-align: left;
        cursor: pointer;

        &__text {
            margin-left: 26px;


            &--active {
                color: $color-blue;
            }
        }
    }


}