.body {

    &--light {
        .todo-form {
            &__input {
                background: map-get($light-mode, 'color-white');
                color: map-get($light-mode, 'color-purple');
                box-shadow: map-get($light-mode, 'shadow');
            }
        }
    }

    &--dark {
        .todo-form {
            &__input {
                background: map-get($dark-mode, 'color-dark-purple-2');
                color: map-get($dark-mode, 'color-white');
                box-shadow: map-get($dark-mode, 'shadow');
            }
        }
    }

    .todo-form {

        &__input {
            width: 100%;
            border-radius: 5px;
            margin-top: 47px;
            border: none;
            padding: 23px 72px;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.25px;

            &--error {
                border: 1px solid red;
                background: #ffe2e2;
            }

            &--success {
                border: 1px solid green;
                background: #e2fff1;
            }


            &::placeholder {
                color: $color-grey;
            }

            &:focus {
                outline: none;
            }
        }
    }
}