.todo-form {

    &__input {
        width: 100%;
        border-radius: 5px;
        background: $color-white;
        margin-top: 46px;
        border: none;
        padding: 24px 75px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.25px;
        box-shadow: $shadow;
        color: $color-purple;

        &::placeholder {
            color: $color-grey;
        }

        &:focus {
            outline: none;
        }
    }
}