.body {

    &--light {
        .todo-list {
            &__cross {

                &:after,
                &:before {
                    background: map-get($light-mode, 'color-purple');
                }
            }

            &__todo {
                background: $color-white;
                border-bottom: 1px solid map-get($light-mode, 'color-light-purple');
                color: $color-purple;

                input {
                    &:checked~.checkmark {
                        background: map-get($light-mode, 'todo-gradient');
                        border: 1px solid map-get($light-mode, 'todo-gradient');
                    }
                }
            }

            .checkmark {

                background-color: transparent;
                border: 1px solid map-get($light-mode, 'color-light-purple');

                &--checked {
                    background: map-get($light-mode, 'todo-gradient');
                }


                &--unchecked {
                    background: map-get($light-mode, 'color-light-purple');
                }

                /* Create the checkmark/indicator (hidden when not checked) */
                &:after {
                    border: solid map-get($light-mode, 'color-white');
                }
            }

            &__todo--checked {
                color: map-get($light-mode, 'color-light-purple-2');
                text-decoration: line-through;
            }
        }
    }

    &--dark {
        .todo-list {
            &__cross {

                &:after,
                &:before {
                    background: map-get($dark-mode, 'color-white');
                }
            }

            &__todo {
                border-bottom: 1px solid map-get($dark-mode, 'color-dark-purple-6');
                background: map-get($dark-mode, 'color-dark-purple-2');
                color: map-get($dark-mode, 'color-dark-purple-5');

                input {
                    &:checked~.checkmark {
                        background: $todo-gradient;
                        border: 1px solid map-get($dark-mode, 'todo-gradient');
                    }
                }

            }

            .checkmark {

                background-color: transparent;
                border: 1px solid $color-grey;

                &--checked {
                    // background: $todo-gradient;
                    background: map-get($dark-mode, 'todo-gradient');
                    color: map-get($dark-mode, 'color-dark-purple-3');
                }


                &--unchecked {
                    background: map-get($dark-mode, 'color-dark-purple-2');
                }

                /* Create the checkmark/indicator (hidden when not checked) */
                &:after {
                    border: solid map-get($dark-mode, 'color-white');
                }
            }

            &__todo--checked {
                color: map-get($dark-mode, 'color-light-purple-3');
                text-decoration: line-through;
            }

        }
    }



    .todo-list {
        margin-top: 23px;
        cursor: pointer;

        &__cross {
            width: 18px;
            height: 18px;
            position: absolute;
            right: 0;
            top: 0;
            transition: $animation-timing;
            transform: translate(-136%, 118%) scale(0);
            cursor: pointer;
            z-index: 2;

            &:after,
            &:before {
                content: "";
                position: absolute;
                width: 1px;
                height: 22px;
                left: 0;
                top: 0;
            }

            &:after {
                transform: translate(9px, -1px) rotate(45deg);
            }

            &:before {
                transform: translate(9px, -1px) rotate(-45deg);
            }
        }

        &__todo {
            position: relative;
            cursor: pointer;
            user-select: none;
            display: flex;
            align-items: center;
            width: 100%;
            border-radius: 5px;
            padding: 22.4px 72.3px;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.25px;

            label {
                margin-right: 10px;
            }

            input {
                opacity: 0;
                cursor: pointer;
                position: absolute;
                left: 5.8%;
                z-index: 1;
                transform: translate(0%, 0%) scale(1);
                top: 39%;

                &:checked~.checkmark {

                    &:after {
                        display: block;
                    }
                }
            }

            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 50%;
                left: 0;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                transform: translate(100%, -55%);
                transition: $animation-timing;

                &--checked {}


                &--unchecked {}

                /* Create the checkmark/indicator (hidden when not checked) */
                &:after {
                    content: "";
                    position: absolute;
                    left: 10px;
                    top: 7px;
                    width: 2px;
                    height: 7px;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                    display: none;
                }
            }



            &:hover .todo-list__cross {
                transform: translate(-136%, 118%) scale(1);
            }
        }
    }

}