.todo-list {
    margin-top: 23px;

    &__cross {
        width: 18px;
        height: 18px;
        position: absolute;
        right: 0;
        top: 0;
        transition: $animation-timing;
        transform: translate(-136%, 118%) scale(0);
        cursor: pointer;
        z-index: 2;

        &:after,
        &:before {
            content: "";
            position: absolute;
            width: 1px;
            height: 22px;
            left: 0;
            top: 0;
            background: $color-purple;
        }

        &:after {
            transform: translate(9px, -1px) rotate(45deg);
        }

        &:before {
            transform: translate(9px, -1px) rotate(-45deg);
        }
    }

    &__todo {
        position: relative;
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        background: $color-white;
        border-bottom: 1px solid $color-light-purple;
        padding: 22.4px 72.3px;
        color: $color-purple;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.25px;




        /* Hide the browser's default checkbox */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            /* When the checkbox is checked, add a gradient background */
            &:checked~.checkmark {
                background: $todo-gradient;
            }

            // /* Show the checkmark when checked */
            &:checked~.checkmark:after {
                display: block;
            }


        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 50%;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: transparent;
            border: 1px solid $color-light-purple;
            border-radius: 50%;
            transform: translate(100%, -55%);
            transition: $animation-timing;

            /* Create the checkmark/indicator (hidden when not checked) */
            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 10px;
                top: 7px;
                width: 2px;
                height: 7px;
                border: solid $color-white;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        /* On mouse-over, add a grey background color */
        &:hover input~.checkmark {
            background-color: $color-light-purple;
        }

        &:hover input~.todo-list__cross {
            transform: translate(-136%, 118%) scale(1);
        }
    }

    &__todo--checked {
        text-decoration: line-through;
        color: $color-light-purpe-2;
    }
}